Config { font = "xft:Iosevka-18"
       , iconRoot = ".config/xmobar/xpm/"
       , bgColor = "#090909"
       , fgColor = "#c0a48b"
       , position = TopH 34
       , lowerOnStart = True
       , commands = [ Run Cpu [ "-t", "<fc=#8c7f80><bar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10 
                    , Run Memory [ "-t", "<fc=#8c7f80><usedbar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10
    		    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
		    , Run StdinReader 
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<icon=haskell_30.xpm/> | %StdinReader% }{ CPU ~ %cpu% | MEM ~ %memory% | <fc=#d17b49>%date%</fc>  "
       }
