Config { font = "Iosevka Nerd Font 15"
       , additionalFonts = ["Iosevka Bold 15", "Iosevka Italic 15", "Iosevka Nerd Font 24"]
       , iconRoot = "~/.config/xmobar/xpm/"
       , bgColor = "#fafafa"
       , fgColor = "#383a42"
       , position = TopH 26
       , lowerOnStart = True
       , commands = [ Run Cpu [ "-t", "<fn=1><fc=#8c7f80><bar></fc></fn>", "-f", ":", "-H", "75", "-L", "25", "-h", "#e45649", "-n", "#986801", "-l", "#556b2f" ] 10
                    , Run Memory [ "-t", "<fn=1><fc=#8c7f80><usedbar></fc></fn>", "-f", ":", "-H", "75", "-L", "25", "-h", "#e45649", "-n", "#986801", "-l", "#556b2f" ] 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run StdinReader
                    , Run Volume "default" "Master" ["-t", "<fn=1><fc=#8c7f80><volumebar></fc></fn>", "-f", ":", "-H", "75", "-L", "25", "-h", "#e45649", "-n", "#986801", "-l", "#556b2f" ] 1
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#030f64><fn=3></fn></fc> <fc=#c6c7c7>|</fc> %StdinReader% }  { <fn=2>VOL</fn> ~ %default:Master% <fc=#c6c7c7>|</fc> <fn=2>CPU</fn> ~ %cpu% <fc=#c6c7c7>|</fc> <fn=2>MEM</fn> ~ %memory% <fc=#c6c7c7>|</fc> <fn=1>%date%</fn>  "
       }
