Config { font = "Iosevka Nerd Font 15"
       , additionalFonts = ["Iosevka Bold 15", "Iosevka Italic 15", "Iosevka Nerd Font 24"]
       , iconRoot = "~/.config/xmobar/xpm/"
       , bgColor = "#090909"
       , fgColor = "#c0a48b"
       , position = TopH 26
       , lowerOnStart = True
       , commands = [ Run Cpu [ "-t", "<fc=#8c7f80><bar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10 
                    , Run Memory [ "-t", "<fc=#8c7f80><usedbar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run StdinReader
                    , Run Volume "default" "Master" ["-t", "<fc=#8c7f80><volumebar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 1
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#8c7f80><fn=3></fn></fc> <fc=#1f1f15>|</fc> %StdinReader% }  { <fn=2>VOL</fn> ~ %default:Master% <fc=#1f1f15>|</fc>  <fc=#d17b49>%date%</fc>  "
       }
