Config { font = "Iosevka 15"
       , additionalFonts = ["Iosevka Bold 15", "Iosevka Italic 15"]
       , iconRoot = ".config/xmobar/xpm/"
       , bgColor = "#090909"
       , fgColor = "#c0a48b"
       , position = TopH 26
       , lowerOnStart = True
       , commands = [ Run Cpu [ "-t", "<fc=#8c7f80><bar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10 
                    , Run Memory [ "-t", "<fc=#8c7f80><usedbar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ] 10
    		    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
		    , Run StdinReader 
		    , Run Alsa "default" "Master" ["-t", "<fc=#8c7f80><volumebar></fc>", "-f", ":", "-H", "75", "-L", "25", "-h", "#d17b49", "-n", "#af865a", "-l", "#7b8748" ]
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<icon=haskell_20.xpm/> <fc=#1f1f15>|</fc> %StdinReader% }  { <fn=2>VOL</fn> ~ %alsa:default:Master% <fc=#1f1f15>|</fc> <fn=2>CPU</fn> ~ %cpu% <fc=#1f1f15>|</fc> <fn=2>MEM</fn> ~ %memory% <fc=#1f1f15>|</fc> <fc=#d17b49>%date%</fc>  "
       }
