rofi.font: TamzenForPowerline 14
Xcursor.size: 10

URxvt.scrollBar: flase

URxvt.font: xft:TamzenForPowerline:pixelsize=15
URxvt.boldFont: xft:TamzenForPowerline:bold:pixelsize=15

!URxvt.background: black
!URxvt.foreground: white

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.iso14755: false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

*.foreground: #b5b4c9
*.background: #1c1c1c
*.color0:     #2e313d
*.color8:     #5b5f71
*.color1:     #cf8164
*.color9:     #fe9f7c
*.color2:     #76a065
*.color10:    #92c47e
*.color3:     #ab924c
*.color11:    #d2b45f
*.color4:     #8296b0
*.color12:    #a0b9d8
*.color5:     #a18daf
*.color13:    #c6aed7
*.color6:     #659ea2
*.color14:    #7dc2c7
*.color7:     #b5b4c9
*.color15:    #f0ecfe

! vim: set filetype=xdefaults nomodeline:
