! Cursor
Xcursor.size: 40

! 4k Monitor DPI
Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Colour Scheme
! special
*.foreground:   #c0a48b
*.background:   #090909
*.cursorColor:  #c0a48b
! black
*.color0:       #4a3637
*.color8:       #4a3637
! red
*.color1:       #d17b49
*.color9:       #d17b49
! green
*.color2:       #7b8748
*.color10:      #7b8748
! yellow
*.color3:       #af865a
*.color11:      #af865a
! blue
*.color4:       #535c5c
*.color12:      #535c5c
! magenta
*.color5:       #775759
*.color13:      #775759
! cyan
*.color6:       #6d715e
*.color14:      #6d715e
! white
*.color7:       #c0a48b
*.color15:      #c0a48b
 
